main > h1{
    color: aqua;
}
.aling-and-margin{
    text-align: center;
    margin-bottom: 20px;
}
section:last-child:hover{
    font-size: 20px;
    transition: 2s;
}
#catsid:hover{
    font-size: 18px;
    transition: 2s;
}