.wrapper{
    width: 940px;
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.row-1{
    height: 220px;
    width: 220px;
    background-color: #ff00ff;
}
.row-2{
    height: 100px;
    width: 100px;
    background-color: #ff00ff;
}
.row-3-1{
    height: 220px;
    width: 700px;
    background-color: #ff00ff;
}
.row-4{
    width: 460px;
    height: 220px;
    background-color: #ff00ff;
}