.button{
    height: 40px;
    width: 100px;
    border-radius: 7px;
}
.button.primary{
    background-color: blue;
}
.button.default{
    background-color: white;
}
.button.dashed{
    background-color: white;
    border: 1px gray dashed;
}
.button.danger{
    background-color: gray;
    color: red;
}
.button.primary.small, .button.dashed.small{
    height: 20px;
    width: 60px;
}

.button.default.large,.button.danger.large{
    height: 100px;
    width: 300px;
}

.ghost{
    background-color: transparent !important;
}