.button{
    height: 40px;
    width: 100px;
    border-radius: 7px;
}
.button.primary{
    background-color: blue;
    color: white;
}
.button.default{
    background-color: white;
}
.button.dashed{
    background-color: white;
    border: 1px gray dashed;
}
.button.danger{
    background-color: gray;
    color: red;
}