.all {
    background-color: black;
    height: 550px;
    width: 500px;
}
.col-1{
    float: left;
}
.col-2{
    float: right;
}
.col-1-item-1{
    height: 210px;
    width: 210px;
    background-color: red;
    margin-bottom: 20px;
}
.col-1-item-2{
    height: 130px;
    width: 210px;
    background-color: aqua;
    margin-bottom: 20px
}
.col-1-item-3{
    width: 210px;
}
.col-1-item-1-1{
    height: 170px;
    width: 50px;
    display: inline-block;
    background-color: yellow;
}
.col-1-item-1-2{
    height: 170px;
    width: 140px;
    background-color: aqua;
    float: right;
}
.col-2-item-1{
    height: 210px;
    width: 270px;
    background-color: aqua;
    margin-bottom: 20px;
}
.col-2-item-2{
    height: 130px;
    width: 270px;
    background-color: aqua;
    margin-bottom: 20px;
}
.col-3-item-1{
    display: inline-block;
    margin-left: 20px;
}
.col-3-item-2{
    float: right;
    height: 170px;
    width: 100px;
    background-color: aqua;
}
.col-3-item-1-1{
    background-color: blue;
    height: 130px;
    width: 150px;
    margin-bottom: 20px;
}
.col-3-item-1-2{
    background-color: aqua;
    width: 150px;
    height: 20px;
}