.main-div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-div img{
    position: absolute;
    z-index: 1;
    opacity: .4;
}
.main-div .status{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    height: 180px;
    width: 500px;
    background-color: white;
    z-index: 2;
    border-radius: 5px;
}
.main-div .status h3{
    position: relative;
    left: 20px;
}
.main-div .status a{
    position: absolute;
    right: 20px;
    top: 20px;
    text-decoration: none;
}
.main-div .status p{
    position: relative;
    left: 20px;
}
.main-div .status .button-1{
    position: absolute;
    right: 70px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 7px 10px;
}
.main-div .status .button-2{
    position: absolute;
    right: 20px;
    background-color: blue;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 7px 10px;
}
.main-div > p{
    position: absolute;
    top: 20%;
}