.main-div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 667px;
    width: 1000px;
    position: relative;
}
.main-div .for-opacity{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: black;
    opacity: .7;
}
.main-div .header-texts{
    position: absolute;
    z-index: 3;
    color: white;
    top: 100px;
    left: 70px;
}
.main-div .header-texts h1{
    font-size: 80px;
    margin: 0;
}
.main-div .header-texts p{
    margin-left: 40px;
}
.main-div .header-texts h1 span{
    display: inline-block;
    background-color: white;
    color: black;
    padding-left: 40px;
}
a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    background-color: white;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 10px;
}
.left, .right{
    position: absolute;
    z-index: 4;
}
.right{
    right: 20px;
    top: 50%;
}
.left{
    left: 20px;
    top: 50%;
}
.main-div .sport{
    padding: 0 10px;
    font-size: 40px;
    background-color: orangered;
    color: white;
    position: absolute;
    z-index: 4;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}